* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  width: 90vw;
}
#one {
  background: url('imgs/cats-7122943.svg');
}
#two {
  background: url('imgs/frog-7001629.svg') repeat;
}
#three {
  background: url('imgs/cats-7122943.svg') no-repeat;
}
#four {
  background: url('imgs/village-7139966.svg') no-repeat;
}
#five {
  background: url('imgs/wheat-7076817.svg') no-repeat;
}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
  height: 80vh;
  width: 90vw;
}
.panel h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 680px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
