*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: #555555;
    color: #ffff;
    padding: .9rem;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    width: 115px;

}
button:hover{
     transition: all ease-in 0.2s;
     background-color: #302f2f;
}