*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #F3FF58;
}
.img-container{
    min-height: 80vh;
    width: 60%;
    background: url("imgs/1.svg") center/cover fixed no-repeat;
    border: .5rem solid #FFF700;
    border-radius: .5rem;
    position: relative;
    margin: 4rem auto;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out .2s;
    
}
.btn-left{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #3B117E;
    color: #fff;
    transform: translate(-50%,-50%);
    border: .3rem solid #3CBFF8;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px;
}
.btn-right{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #3B117E;
    color: #fff;
    transform: translate(50%,-50%);
    border: .3rem solid #3CBFF8;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px;
}
.btn:hover{
    background-color: #5c3c90;
    transition: all ease-in-out .3s;
}